body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(100deg, #919191, rgb(174, 174, 174));
  margin: 0;
}

.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  margin-top: 2vh;
  margin-left: 2vw;
}

.divWBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 62vw;
  margin-top: 2vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  box-shadow: 0px 0px 10px 5px rgba(0, 38, 255, 0.5);
}

.inputSize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resizeBoard,
.clearBoard {
  height: 5vh;
  width: 10vw;
  border: outset 3px red;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: inherit;
  cursor: pointer;
}

.grid-item {
  background-color: inherit;
  display: grid;
  border: outset 1px black;
}

.drawBoard {
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0px 0px 10px 5px rgba(0, 38, 255, 0.5);
}

.xAxis {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;  
  align-content: stretch;
  max-height: 75vh;
  max-width: 75vw;
  min-height: 75vh;
  min-width: 75vw;
  grid-template-columns: repeat(auto-fill, minmax(0px, 0fr));
}